Source: openmediavault-pxe
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-pxe
Architecture: all
Depends: openmediavault (>= 3.0.9),
         pxelinux,
         syslinux-common,
         ${misc:Depends}
Description: pxe plugin for OpenMediaVault.
